.app
  .index-header
    border-bottom: 1px #000000 solid
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 24px
    height: 83px
    &__logo
      font-size: 37px
    &__shortcut
      display: flex
      justify-content: space-between
      align-items: center
      width: 147px